h2 {
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin: 5px;
  color: white;
}
h4 {
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-size: 17px;
  margin: 5px;
  color: white;
}

ion-button {
  text-transform: none;
}

.ion-color-uploadimage {
  --ion-color-base: var(--ion-color-uploadimage);
  --ion-color-base-rgb: var(--ion-color-uploadimage-rgb);
  --ion-color-contrast: var(--ion-color-uploadimage-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uploadimage-contrast-rgb);
  --ion-color-shade: var(--ion-color-uploadimage-shade);
  --ion-color-tint: var(--ion-color-uploadimage-tint);
}

ion-content {
  --ion-background-color:#202020;
  --color: white;
}

ion-header {
  --ion-background-color:#2c2c2c;
  --color: white;
}

ion-checkbox {
  --ion-background-color:#2c2c2c;

  --margin: 10px;
}

.check-background-rigth {
  --background: #202020;
  --color: #fff;
  margin-left: -27px;
}

.check-background-left {
  --background: #202020;
  --color: #fff;
  margin-left: -27px;
}





//ion-input {
//  border: white solid 2px;
//}


