<ion-header color="primary">
    <ion-toolbar class="ion-text-center">
        <h2>Adicionar Eventos</h2>
        <h4>Adicione um novo evento</h4>
    </ion-toolbar>
</ion-header>

<ion-content >
    <!-- <form -->
    <form>
        <h6>1. Nome do evento e imagem de divulgação:</h6>

        <ion-item>
            <ion-label style="font-size: 15px;" color="light" position="floating">Nome do evento</ion-label>
            <ion-input color="light" type="text" ></ion-input>
        </ion-item>
        <p>Imagem de divulgação</p>
            <ion-row>
                <ion-col size="6">
                    <ion-button size="small" color="">Selecione o arquivo</ion-button>
                    <div class="ion-text-end">
                        <small>
                            .jpeg, .png, .gif
                        </small>
                    </div>
                </ion-col>
                <ion-col size="6" >
                    <span>
                      <small id="curriculoHelp" class="form-text text-muted" class="ion-text-end">
                        A dimensão recomendada é de <strong>1185 x 335.</strong>
                      </small>
                    </span>
                </ion-col>
            </ion-row>

        <h6>2. Data do evento:</h6>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label color="light">Data de início</ion-label>
                    <ion-datetime color="light" displayFormat="MM/DD/YYYY" ></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label color="light">Horário de início</ion-label>
                    <ion-datetime displayFormat="hh:mm" color="light"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label color="light">Data de termino</ion-label>
                    <ion-datetime color="light" displayFormat="MM/DD/YYYY" ></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label color="light">Horário de termino</ion-label>
                    <ion-datetime displayFormat="hh:mm" color="light"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>

        <h6>3. Local do evento:</h6>
        <ion-item>
            <ion-label style="font-size: 15px;" color="light" position="floating"></ion-label>
            <ion-input color="light" type="text" ></ion-input>
        </ion-item>
            <ion-item lines="none" class="check-background-rigth">
                <ion-checkbox ></ion-checkbox>
                <small>Mostrar evento no Google Maps</small>
            </ion-item>

        <h6>4. Ingressos</h6>

        <ion-row>
            <ion-col size="6">
                <ion-item lines="none" class="check-background-rigth">
                    <ion-label>ingresso <strong>pago</strong></ion-label>
                    <ion-checkbox ></ion-checkbox>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item lines="none" class="check-background-left">
                    <ion-label>ingresso <strong>gratuito</strong></ion-label>
                    <ion-checkbox ></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label style="font-size: 15px;" color="light" position="floating">Nome do ingresso</ion-label>
            <ion-input color="light" type="text" ></ion-input>
        </ion-item>
        <ion-item style="width: 50%; margin-top: 10px; color: #fff">
            <ion-label position="stacked">Quantidade</ion-label>
            <ion-input color="light" type="number"></ion-input>
        </ion-item>

        <p>Periodo de vendas deste ingresso:</p>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label color="light">Data de termino</ion-label>
                    <ion-datetime color="light" displayFormat="MM/DD/YYYY" ></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label color="light">Horário de termino</ion-label>
                    <ion-datetime displayFormat="hh:mm" color="light"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-item>
                    <ion-label color="light">Data de termino</ion-label>
                    <ion-datetime color="light" displayFormat="MM/DD/YYYY" ></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-label color="light">Horário de termino</ion-label>
                    <ion-datetime displayFormat="hh:mm" color="light"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>

        <p>Quantidade permitida por compra:</p>
        <ion-row>
            <ion-col size="4">
                <ion-item style=" color: #fff">
                    <ion-label position="stacked">Mínima</ion-label>
                    <ion-input color="light" type="number"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="4">
                <ion-item style="color: #fff">
                    <ion-label position="stacked">Máxima</ion-label>
                    <ion-input color="light" type="number"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <h6>5. Descrição do evento</h6>
        <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-textarea></ion-textarea>
        </ion-item>

        <h6>6. Informações sobre o evento</h6>

        <ion-item style="margin-top: 10px; color: #fff">
            <ion-label>Publico alvo</ion-label>
            <ion-select>
                <ion-select-option value="brown">Brown</ion-select-option>
                <ion-select-option value="blonde">Blonde</ion-select-option>
                <ion-select-option value="black">Black</ion-select-option>
                <ion-select-option value="red">Red</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item style="margin-top: 10px; color: #fff">
            <ion-label>Open Bar</ion-label>
            <ion-select>
                <ion-select-option value="brown">Brown</ion-select-option>
                <ion-select-option value="blonde">Blonde</ion-select-option>
                <ion-select-option value="black">Black</ion-select-option>
                <ion-select-option value="red">Red</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item style="margin-top: 10px; color: #fff">
            <ion-label>Genero musical</ion-label>
            <ion-select>
                <ion-select-option value="brown">Brown</ion-select-option>
                <ion-select-option value="blonde">Blonde</ion-select-option>
                <ion-select-option value="black">Black</ion-select-option>
                <ion-select-option value="red">Red</ion-select-option>
            </ion-select>
        </ion-item>

        <h6>7. Responsabilidade</h6>

        <ion-item lines="none" class="check-background-rigth">
            <ion-checkbox ></ion-checkbox>
            <ion-text style="width: 90%;margin-left: 13px;">Ao publicar este evento, estou de acordo com os <strong>Termos de uso</strong> e com o <strong>Acordo de Processamento</strong>
            de dados, bem como declaro estar ciente da <strong>Política de Privacidade, da Política de Cookies,</strong> e das <strong>Obrigatoriedades Legais.</strong>
            </ion-text>

        </ion-item>
    </form>
</ion-content>


